<!doctype html>
<html lang="en">
  <head>
  	<title>Muestra de zapatillas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 id="titulo" class="h5 mb-4 text-center">Nuestros Productos</h3>
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>&nbsp;</th>
						      <th>&nbsp;</th>
						      <th>Producto</th>
						      <th>Precio</th>
						      <th>Cantidad</th>
						      <th>Total</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alohas-1666563989.png');"></div>
						    	</td>
						      <td>
						      	<div class="email">
						      		<span>Zapatillas Nike</span>
						      		<span>Te harán volar esta zapas to guapas</span>
						      	</div>
						      </td>
						      <td>44.99€</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
				          	</div>
				          </td>
				          <td>89.98€</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alohas-1666563989.png');"></div>
						    	</td>
						      <td>
						      	<div class="email">
									<span>Zapatillas Nike</span>
									<span>Te harán volar esta zapas to guapas</span>
						      	</div>
						      </td>
						      <td>30.99€</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td>30.99€</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alohas-1666563989.png');"></div>
						    	</td>
						      <td>
						      	<div class="email">
									<span>Zapatillas Nike</span>
									<span>Te harán volar esta zapas to guapas</span>
						      	</div>
						      </td>
						      <td>35.50€</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td>35.50€</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td>
						    		<div class="img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alohas-1666563989.png');"></div>
						    	</td>
						      <td>
						      	<div class="email">
									<span>Zapatillas Nike</span>
									<span>Te harán volar esta zapas to guapas</span>
						      	</div>
						      </td>
						      <td>76.99€</td>
						      <td class="quantity">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td>76.99€</td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td class="border-bottom-0">
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
						    	</td>
						    	<td class="border-bottom-0">
						    		<div class="img" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alohas-1666563989.png');"></div>
						    	</td>
						      <td class="border-bottom-0">
						      	<div class="email">
									<span>Zapatillas Nike</span>
									<span>Te harán volar esta zapas to guapas</span>
						      	</div>
						      </td>
						      <td class="border-bottom-0">40.00€</td>
						      <td class="quantity border-bottom-0">
					        	<div class="input-group">
				             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
				          	</div>
				          </td>
				          <td class="border-bottom-0">40.00€</td>
						      <td class="border-bottom-0">
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	</body>
</html>

